#contents {
    text-align: center;
    margin: 2rem auto ;
    max-width: 100% !important;
}

#contents p {
    margin: 0.5rem 0;
    font-size: 1rem;
    color: #ddd;
}

#contents a {
    color: #58a6ff;
    text-decoration: underline;
}

#contents a:hover {
    color: #8ecfff;
}

#contents iframe {
    border: none !important;
    display: block !important;
    margin: 2rem auto !important;
    width: 90% !important;
    max-width: 1200px !important;
    height: 1200px !important;
}
